# String Function

1.length

In [1]:
name1="Saad"
name2="Abdullah"
length1=len(name1)
length2=len(name2)
print("The length of name1 is",length1)
print("The length of name2 is",length2)

The length of name1 is 4
The length of name2 is 8

2. Indexing 0r Slicing

In [2]:
str="Hello coder"
#Method 1
print(str[0:12])
#Method 2
print(str[0:len(str)])
#Method 3
print(str[-11:])  #negetive indexing

Hello coder
Hello coder
Hello coder

3.find the index of  string

In [3]:
name="Abdul Rahman"
print("Find :",name.find("Rahman"))

Find : 6

4.Absolute function (Modulus)

In [8]:
num1=int(input ("Enter number 1 :"))
num2=int(input ("Enter number 2 :"))
result=abs(num1/num2)   #abs keyword
print("Modulus  of ",num1 ,"/",num2," is :",result)

Modulus  of  8 / 2  is : 4.0

5.power function

In [17]:
num1=int(input ("Enter number 1 :"))
num2=int(input ("Enter number 2 :"))
result= pow (num1,num2)
print("Power is  of ",num1,"and","is :",result)

Power is  of  2 and is : 4

6.min & max

In [22]:
list=["Abdul Rahman Awan","Bilal"]
print("Maximun number in list is :",max(list),"\n","Minimun number in list is :",min(list))

Maximun number in list is : Bilal
 Minimun number in list is : Abdul Rahman Awan

7.round

In [9]:
x=22/7
print("Without round function :",x)
print("Result after round :",round(x,3))

Without round function : 3.142857142857143
Result after round : 3.143

8.divmod

In [11]:
x=divmod(5,2)  # div ,modulus
x

(2, 1)

9.binary/octul/hexadecimal

In [17]:
print(oct(22))
print(bin(12))
print(hex(13))

0o26
0b1100
0xc

10.id (show address in memory)

In [21]:
a=4
print("a :",a)
print("Address of a in memory:",id(a))

a : 4
Address of a in memory: 140727213949960

11.sum

In [26]:
print("Sum is:",sum([1,2]))

Sum is: 3

12. help

In [27]:
help('sum')

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

# Conditional Statemant

1. if else statement Or Multiple if else

In [8]:
number = int(input("Enter the guess number :"))
if number == 20:
    print("You guessed the number:", number)
elif number > 20:
    print("You entered a greater number :",number)
elif number < 20:
    print("You entered a less number :",number)
else:
    print("Invalid input...")

You entered a greater number : 50

Task :

In [19]:
marks = int(input("Enter your marks :"))
if marks > 90:
    print("Your grade is : A")
elif marks >= 80 and marks < 90:
    print("Your grade is : B")
elif marks >= 70 and marks<80:
    print("Your grade is : C")
elif marks <= 60 and marks<70:
    print("Your grade is : D")
else:
    print("Invalid input...")

Your grade is : B

Nesting if statements

In [22]:
age=int(input("Enter your age"))
if(age>=18):
      if(age>=80):
         print("You cannot derived the car:",age)
      else:
        print("You derived the car:",age)    
else:
    print("You cannot derived the car:",age)

You cannot derived the car: 17

Task : check the number even or odd

In [29]:
number=int(input("Enter the number:"))
if(number%2==0):
    print("You entered an even number:",number)
else:    
    print("You entered an odd number:",number)

You entered an odd number: 7

Task:check greater number in three number's

In [6]:
num1=520 #int(input("Enter number 1:"))
num2=310 #int(input("Enter number 1:"))
num3=490 #int(input("Enter number 1:"))

if(num1>num2 and num1>num3):
    print("Num1 is greater :",num1)
elif(num2>num1 and num2>num3):
    print("Num2 is greater :",num2)
else:
    print("Num3 is greater :",num3)

Num1 is greater : 520

check the multipler of 7

In [2]:
number=int(input("Enter number :"))
if(number%7==0):
    print("Current number is multipler of 7 :",number)
else:    
    print("Current number is  not multipler of 7 :",number)

Current number is multipler of 7 : 14

List (mutable) :

 Slicing in list

In [1]:
student=["Abdul Rahman",39,300,"Kotli"]
print("List is :",student)
student[0]="Ali"
print("After updation List is :",student)
#Method :1
print("Slicing of list is :",student[0:4])
#Method :2
print("Slicing of list is :",student[-4:-1])

List is : ['Abdul Rahman', 39, 300, 'Kotli']
After updation List is : ['Ali', 39, 300, 'Kotli']
Slicing of list is : ['Ali', 39, 300, 'Kotli']
Slicing of list is : ['Ali', 39, 300]

Operation on list

Append & sort (Accending order)

In [3]:
list=[3, 2, 1]
print(list.append(4))  #append function 
print("After appending list :",list)
print(list.sort())    #sorting funtion
print("After sorting list :",list)

None
After appending list : [3, 2, 1, 4]
None
After sorting list : [1, 2, 3, 4]

Decending order & reverse

In [18]:
list=["b","c","a","d"]
print(list.sort(reverse=True))  #Decending order
print("After updation :",list)
print(list.reverse())           #reverse function
print("After updation :",list)

None
After updation : ['d', 'c', 'b', 'a']
None
After updation : ['a', 'b', 'c', 'd']

Insert

In [2]:
friends=["khiyam","muzamal","shami","usman"]
friends.insert(0,"Abdul Rhman")  #inset function
print("After updation :",friends)

After updation : ['Abdul Rhman', 'khiyam', 'muzamal', 'shami', 'usman']

Remove (remove first occurence) & Pop

In [29]:
list=[2,3,5,3]
print(list.remove(3))  #remove function
print("After updation:",list)
print(list.pop(1))
print("After updation:",list)

None
After updation: [2, 5, 3]
5
After updation: [2, 3]

Tuples (immutable):

In [3]:
tuples=("Ali","Saad","Abdullah")
print("Names :",tuples ,"\n","Type :",type(tuple))
#tuple(1,)  #single value tuple
#print("Single value tuple:",tuple)
tu=(1) #act as a integer
print(" AS a integer :",tu ,"\n","Type :",type(tu))

Names : ('Ali', 'Saad', 'Abdullah')
 Type : <class 'type'>
 AS a integer : 1
 Type : <class 'int'>

Slicing & count in tuple

In [7]:
tuple =(4,3,2,1,1,2,3,4,)
print("Values:",tuple,"\n",type(tuple))
print("Slicing :",tuple[0:8])
print("Indexing:",tuple.index(1))  #indexing function
print("counting:",tuple.count(2))  #counting function

Values: (4, 3, 2, 1, 1, 2, 3, 4)
 <class 'tuple'>
Slicing : (4, 3, 2, 1, 1, 2, 3, 4)
Indexing: 3
counting: 2

Tasks:1 Make three input and creat a list

In [8]:
movies=[]
movie_1=input("Enter name of first  movie :")
movie_2=input("Enter name of second movie :")
movie_3=input("Enter name of third  movie :")

movies.append(movie_1)
movies.append(movie_2) 
movies.append(movie_3)

print("Our movies list :",movies)

Our movies list : ['m1', 'm2', 'm3']

Task :2 check plaindrom list

In [15]:
#for list 2
list_1=[1,2,1]
list_2=[1,2,3]

copy_list_2=list_2.copy()
copy_list_2.reverse()

if(list_2==copy_list_2):
    print("Plaidromic list :")
else:
    print("Not plaindromic list")

Not plaindromic list

Task:3 Count Function

In [10]:
tuple=("C","D","A","A","B","B","A")
print("Count:",tuple.count("A"))
print("* * * * * * * * * * * * ")
list=["C","D","A","A","B","B","A"]
print(list.sort())
print("List :",list)

Count: 3
* * * * * * * * * * * *
None
List : ['A', 'A', 'A', 'B', 'B', 'C', 'D']

Dictionary (mutable) in python

In [31]:
dict={
    #"keys":"values",
    "Name":"Abdul Rahman",
    "Rollno":39,
    "Subjects":["AI","Networking","Information Security","DBMS","Software Eingeering"],
    "Semester":("third","BS","SE","2023 to 2027")
}

print("Our dictionary is:",dict)
print("Name is:",dict["Name"])  #accessable by key
dict["Rollno"]=90               #update value
print("Our updated dictionary is :",dict)

Our dictionary is: {'Name': 'Abdul Rahman', 'Rollno': 39, 'Subjects': ['AI', 'Networking', 'Information Security', 'DBMS', 'Software Eingeering'], 'Semester': ('third', 'BS', 'SE', '2023 to 2027')}
Name is: Abdul Rahman
Our updated dictionary is : {'Name': 'Abdul Rahman', 'Rollno': 90, 'Subjects': ['AI', 'Networking', 'Information Security', 'DBMS', 'Software Eingeering'], 'Semester': ('third', 'BS', 'SE', '2023 to 2027')}

Nested Dictionary

In [35]:
dictionary={
    "Uni":"Uok",
    "Facility":"Computer Science and Engineering",
    "Marks":{
        "OOP":120,
        "DSA":140,
        "MVC":120,
        "LA":110,
    },
    "Department":"SE",
}

print("Whole Dictionary is:",dictionary)
print("Nested Dictionary  Marks is :",dictionary["Marks"])

Whole Dictionary is: {'Uni': 'Uok', 'Facility': 'Computer Science and Engineering', 'Marks': {'OOP': 120, 'DSA': 140, 'MVC': 120, 'LA': 110}, 'Department': 'SE'}
Nested Dictionary  Marks is : {'OOP': 120, 'DSA': 140, 'MVC': 120, 'LA': 110}

Methods of  Dictionary

-> Mehod:1 key (returns all the keys)

-> Method:2 values(returns all the Values)

In [36]:
dict={
    #"keys":"values",
    "Name":"Abdul Rahman",
    "Rollno":39,
    "Subjects":["AI","Networking","Information Security","DBMS","Software Eingeering"],
    "Semester":("third","BS","SE","2023 to 2027")
}

print("Print All the keys:",dict.keys())  # key method
print("Print All the values:",dict.values()) #Value method

Print All the keys: dict_keys(['Name', 'Rollno', 'Subjects', 'Semester'])
Print All the values: dict_values(['Abdul Rahman', 39, ['AI', 'Networking', 'Information Security', 'DBMS', 'Software Eingeering'], ('third', 'BS', 'SE', '2023 to 2027')])

-> Method:3 items(returns all the keys & Values)

-> Method:4 get (returns all the keys & Values)

In [50]:
marks={
        "OOP":120,
        "DSA":140,
        "MVC":120,
        "LA":110,
    }

print("Print all the items :", marks.items()) #items method
print("Print the called value :"+  " DSA :" ,marks.get("DSA")) #get method

Print all the items : dict_items([('OOP', 120), ('DSA', 140), ('MVC', 120), ('LA', 110)])
Print the called value : DSA : 140

->Method:5 Update dictionary

In [52]:
dictionary={
    "Name":"Abdul Rahman",
    "Rollno":39
}
dictionary.update({"Address":"Kotli"}) #add new items
print("After Updation the Dictionary :",dictionary)

After Updation the Dictionary : {'Name': 'Abdul Rahman', 'Rollno': 39, 'Address': 'Kotli'}

Sets(mutable) in python

In [1]:
collection={ 1,2,2,3,"Abdul","Rahman","Rahman"}
print("Our set is :",collection)
print("Length is :",len(collection))
print("Type is :",type(collection))

Our set is : {1, 2, 3, 'Rahman', 'Abdul'}
Length is : 5
Type is : <class 'set'>

Empty Set

In [61]:
# Syntax of empty set 
collect = set()
print("Type is :", type(collect))

Type is : <class 'set'>

Methods of sets

In [69]:
collection={ 1,2,2,3,"Abdul","Rahman","Rahman"}
collection.add("Okay")
print("Add method :",collection)     #add method
collection.remove(2)
print("Remove method :",collection)  #remove method
collection.pop()
print("Pop method :",collection)     #pop method
collection.clear()
print("Clear method :",collection)   #clear method

Add method : {1, 2, 3, 'Abdul', 'Okay', 'Rahman'}
Remove method : {1, 3, 'Abdul', 'Okay', 'Rahman'}
Pop method : {3, 'Abdul', 'Okay', 'Rahman'}
Clear method : set()

Union & Intersection

In [10]:
set_1={1,2,3,4,5}
set_2={4,5,6,7,8}
print("Union is :",set_1.union(set_2))               #union method 
print("Intersection is:",set_1.intersection(set_2))  #intersection method

Union is : {1, 2, 3, 4, 5, 6, 7, 8}
Intersection is: {4, 5}

Lambda function

In [20]:
result=lambda num:num**2
print("Square of 4 is",result(4))

In [9]:
num = lambda x: "Even" if x % 2 == 0 else "Odd"
num(4)

'Even'

Higher Order Function

In [27]:
def return_sum(fun, list):
    result = 0
    print("Indexes :")
    for i in list:
        if fun(i):
            print(i)
            result = result + i
    return result
    

list = [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

x = lambda x: x % 2 == 0
y = lambda x: x % 2 != 0
z = lambda x: x % 3 == 0

print("Sum of even number in list:", return_sum(x, list))
print("Sum of Odd number in list:", return_sum(y, list))
print("Sum of number divide by 3 in list:", return_sum(z, list))

Indexes :
12
14
16
18
20
Sum of even number in list: 80
Indexes :
11
13
15
17
19
Sum of Odd number in list: 75
Indexes :
12
15
18
Sum of number divide by 3 in list: 45

loops in python

While loop

In [17]:
#print the table
count=1
num=int(input("Enter the number:"))
while count<=10 :
    print (num,"X",count,"=",num*count)
    count+=1

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

print list [1,4,9,16,25,36,49,64,81,100] using loop

In [26]:
num=[1,4,9,16,25,36,49,64,81,100]
indx=0
while (indx<len(num)) :
    print("List is :",num[indx])
    indx += 1

List is : 1
List is : 4
List is : 9
List is : 16
List is : 25
List is : 36
List is : 49
List is : 64
List is : 81
List is : 100

Find specific number in a list

In [2]:
num=[1,4,9,16,25,36,49,64,4,81,100]
indx=0
find=4
while (indx<len(num)) :
    if find==num[indx] :
        print("Finding at index :",indx)
    else:
         print("Still searching ")   
    indx += 1 
print("Not finding :")

Still searching
Finding at index : 1
Still searching
Still searching
Still searching
Still searching
Still searching
Still searching
Finding at index : 8
Still searching
Still searching
Not finding :

For Loop in Python

In [34]:
name="Abdul Rahman Awan"

for char in name :
    if char =='a':
        print("Found :", char)
else:
    print("Not Found")

Found : a
Found : a
Found : a
Not Found

Continue

In [5]:
fruits = [ "banana","apple", "cherry"]
for indx in fruits:
  if indx == "banana":
    continue
  print(indx)

apple
cherry

Break

In [7]:
days = [ "Monday","Tuesday","Wednesday","Thursday"]
for indx in days:
  if indx == "Wednesday":
   break
  print(indx)

Monday
Tuesday

Rnage

In [8]:
#Range 
print("Numbers is :")
for i in range(5) :
    print(i)

Numbers is :
0
1
2
3
4

for in list

In [6]:
list=[1,2,3,4,5,6]
print("List is :")
for i in list :
  print(i)

List is :
1
2
3
4
5
6

For in strintg

In [7]:
Name="Abdul Rahman Awan"
print("Name:")
for i in Name:
    print(i)

Name:
A
b
d
u
l

R
a
h
m
a
n

A
w
a
n

Parameterized Range

In [25]:
for x in range(2, 30, 3): # syntax : start ,ends ,increment
    n=14
    if x==n:
        print("Reached desired point:",x)
    else :
        print("Searching :",x)    
    print(x)

Searching : 2
2
Searching : 5
5
Searching : 8
8
Searching : 11
11
Reached desired point: 14
14
Searching : 17
17
Searching : 20
20
Searching : 23
23
Searching : 26
26
Searching : 29
29

Functions in Python

1.Modules (collection  of compined biult in function )

In [3]:
from math import sqrt

print("Square is:", sqrt(49))

Square is: 7.0

User define function

In [22]:
def user_function(name,address): #syntax def ,fun_name(parameters) 
  print("User name :",name,"\n","Address :",address)
user_function("Abdul rahman","Kotli")

User name : Abdul rahman
 Address : Kotli